@{
    ViewData["Title"] = "Resume Page";
}

<section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p> Hello World! This is my resume, if you need more information about be you can contact me.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Saurab Shrestha</h4>
              <p><em>Innovative and deadline-driven web devloper with 1+ years of experience designing and developing user-centered web pages from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Nepal,Bhaktapur</li>
                <li>+977 9843199977</li>
                <li>saurab.shrestha1010@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
@*            <div class="resume-item">
              <h4>Master of Fine Arts &amp; Graphic Design</h4>
              <h5>2015 - 2016</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>*@
            <div class="resume-item">
              <h4>Bachelor of Information Management</h4>
              <h5>2016 - 2020</h5>
              <p><em>Thames International College, Kathmandu</em></p>
              <p> I have completed my Bachelors from Thames International College affiliated with Tribhuvan University. The course consist of Management and IT fileds.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>ASP.NET junior UMBRACO Developer</h4>
              <h5>2022 - present</h5>
              <p><em>Usome Solutions </em></p>
              <ul>
                <li>Worked in the Umbraco CMS</li>
                <li>Developed website using asp.net core and Umbraco</li>
                <li>fixing bugs and developing site.</li>
                <li>junior full stack developer</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Intern</h4>
              <h5>2022</h5>
              <p><em>Isewa</em></p>
              <ul>
                <li>Learned about the web development.</li>
                <li>Developed small website using MVC and Crud operation with jquery</li>
                <li>Managed website content</li>
                <li>Solving minor bugs in the site</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->